USE [master]
GO
/****** Object:  Database [WebNuocHoa]    Script Date: 05/27/2019 10:34:44 ******/
CREATE DATABASE [WebNuocHoa] ON  PRIMARY 
( NAME = N'WebNuocHoa', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.NGANSQL\MSSQL\DATA\WebNuocHoa.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebNuocHoa_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.NGANSQL\MSSQL\DATA\WebNuocHoa_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebNuocHoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebNuocHoa]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/27/2019 10:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[GT] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GT], [DiaChi], [SDT]) VALUES (4, N'Dao Ngoc Anh', N'Nữ', N'Hà Nội', N'012478954')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GT], [DiaChi], [SDT]) VALUES (5, N'Nguyễn Đức Toàn', N'Nam', N'Hải Phòng', N'012478954')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GT], [DiaChi], [SDT]) VALUES (6, N'Chu Việt Hà', N'Nam', N'Hà Nội', N'012478954')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
/****** Object:  Table [dbo].[NhanHieu]    Script Date: 05/27/2019 10:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanHieu](
	[MaNH] [int] IDENTITY(1,1) NOT NULL,
	[TenNH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhanHieu] ON
INSERT [dbo].[NhanHieu] ([MaNH], [TenNH]) VALUES (1, N'Chanel')
INSERT [dbo].[NhanHieu] ([MaNH], [TenNH]) VALUES (2, N'Gucci')
INSERT [dbo].[NhanHieu] ([MaNH], [TenNH]) VALUES (3, N'Dior')
SET IDENTITY_INSERT [dbo].[NhanHieu] OFF
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 05/27/2019 10:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLSP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON
INSERT [dbo].[LoaiSP] ([MaLSP], [TenLSP]) VALUES (1, N'Nước hoa nam')
INSERT [dbo].[LoaiSP] ([MaLSP], [TenLSP]) VALUES (2, N'Nước hoa nữ')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05/27/2019 10:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Taikhoan] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](11) NULL,
	[GT] [int] NULL,
	[NS] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Taikhoan], [MatKhau], [Email], [DiaChi], [SDT], [GT], [NS]) VALUES (1, N'Ðào Ngọc Ánh', N'anh11', N'ngoanh', N'anh12@gmail.com', N'Hà Nội', N'0988765245', 1, CAST(0x8B210B00 AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Taikhoan], [MatKhau], [Email], [DiaChi], [SDT], [GT], [NS]) VALUES (2, N'Ngân Nguyễn', N'ngan23', N'nganha', N'congchua@gmail.com', N'Hà Nội', N'0988467298', 1, CAST(0xA6210B00 AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Taikhoan], [MatKhau], [Email], [DiaChi], [SDT], [GT], [NS]) VALUES (3, N'Toàn Toàn', N'sieunhan', N'12345', N'sieunhan@gmail.com', N'Hà Nội', N'0988325664', 0, CAST(0x50210B00 AS Date))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 05/27/2019 10:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[username] [varchar](50) NOT NULL,
	[matkhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Taikhoan] ([username], [matkhau]) VALUES (N'admin1', N'12345')
/****** Object:  StoredProcedure [dbo].[Account_Login]    Script Date: 05/27/2019 10:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Account_Login]
@username varchar(50),
@matkhau varchar(50)
as
begin
declare @count int 
declare @res bit
select @count= COUNT(*) from Taikhoan where username=@username and matkhau=@matkhau
if (@count>0)
set @res=1
else 
set @res=0;

select @res
end
GO
/****** Object:  Table [dbo].[SP]    Script Date: 05/27/2019 10:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[Gia] [decimal](18, 0) NULL,
	[Khoiluong] [int] NULL,
	[Anh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SolgTon] [int] NULL,
	[MaLSP] [int] NULL,
	[MaNH] [int] NULL,
	[Moi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SP] ON
INSERT [dbo].[SP] ([MaSP], [TenSP], [Gia], [Khoiluong], [Anh], [MoTa], [SolgTon], [MaLSP], [MaNH], [Moi]) VALUES (1, N'Burberrry for her', CAST(2690000 AS Decimal(18, 0)), 15, N'burberry_sp1.jpg', N'ný?c hoa cho n?', 5, 2, 5, 1)
INSERT [dbo].[SP] ([MaSP], [TenSP], [Gia], [Khoiluong], [Anh], [MoTa], [SolgTon], [MaLSP], [MaNH], [Moi]) VALUES (2, N'Burberrry black', CAST(2690000 AS Decimal(18, 0)), 15, N'burberry_sp2.jpg', N'ný?c hoa cho nam', 5, 1, 5, NULL)
INSERT [dbo].[SP] ([MaSP], [TenSP], [Gia], [Khoiluong], [Anh], [MoTa], [SolgTon], [MaLSP], [MaNH], [Moi]) VALUES (3, N'Burberrry vàng', CAST(2690000 AS Decimal(18, 0)), 15, N'burberry_sp3.jpg', N'ný?c hoa cho nam', 5, 1, 5, NULL)
SET IDENTITY_INSERT [dbo].[SP] OFF
/****** Object:  Table [dbo].[DonHang]    Script Date: 05/27/2019 10:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[DaThanhToan] [int] NULL,
	[TinhtrangGH] [int] NULL,
	[ngaydat] [date] NULL,
	[ngaygiao] [date] NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON
INSERT [dbo].[DonHang] ([MaDH], [DaThanhToan], [TinhtrangGH], [ngaydat], [ngaygiao], [MaKH], [MaNV]) VALUES (1, 1, 1, CAST(0x463F0B00 AS Date), CAST(0x623F0B00 AS Date), 1, NULL)
INSERT [dbo].[DonHang] ([MaDH], [DaThanhToan], [TinhtrangGH], [ngaydat], [ngaygiao], [MaKH], [MaNV]) VALUES (2, 1, 1, CAST(0x463F0B00 AS Date), CAST(0xBE3F0B00 AS Date), 2, NULL)
INSERT [dbo].[DonHang] ([MaDH], [DaThanhToan], [TinhtrangGH], [ngaydat], [ngaygiao], [MaKH], [MaNV]) VALUES (3, 1, 1, CAST(0x273F0B00 AS Date), CAST(0x813F0B00 AS Date), 3, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
/****** Object:  Table [dbo].[CTDH]    Script Date: 05/27/2019 10:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDH](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NULL,
	[MaSP] [int] NULL,
	[soluong] [int] NULL,
	[thanhtien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTDH] ON
INSERT [dbo].[CTDH] ([MaCTDH], [MaDH], [MaSP], [soluong], [thanhtien]) VALUES (1, 1, 1, 2, CAST(5380000 AS Decimal(18, 0)))
INSERT [dbo].[CTDH] ([MaCTDH], [MaDH], [MaSP], [soluong], [thanhtien]) VALUES (2, 1, 3, 1, CAST(2690000 AS Decimal(18, 0)))
INSERT [dbo].[CTDH] ([MaCTDH], [MaDH], [MaSP], [soluong], [thanhtien]) VALUES (3, 2, 2, 1, CAST(2690000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CTDH] OFF
/****** Object:  ForeignKey [FK_SP_LoaiSP]    Script Date: 05/27/2019 10:34:47 ******/
ALTER TABLE [dbo].[SP]  WITH CHECK ADD  CONSTRAINT [FK_SP_LoaiSP] FOREIGN KEY([MaLSP])
REFERENCES [dbo].[LoaiSP] ([MaLSP])
GO
ALTER TABLE [dbo].[SP] CHECK CONSTRAINT [FK_SP_LoaiSP]
GO
/****** Object:  ForeignKey [FK_SP_NhanHieu]    Script Date: 05/27/2019 10:34:47 ******/
ALTER TABLE [dbo].[SP]  WITH CHECK ADD  CONSTRAINT [FK_SP_NhanHieu] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhanHieu] ([MaNH])
GO
ALTER TABLE [dbo].[SP] CHECK CONSTRAINT [FK_SP_NhanHieu]
GO
/****** Object:  ForeignKey [FK_DonHang_KhachHang]    Script Date: 05/27/2019 10:34:47 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
/****** Object:  ForeignKey [FK_DonHang_NhanVien]    Script Date: 05/27/2019 10:34:47 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NhanVien]
GO
/****** Object:  ForeignKey [FK_CTDH_DonHang]    Script Date: 05/27/2019 10:34:47 ******/
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_DonHang]
GO
/****** Object:  ForeignKey [FK_CTDH_SP]    Script Date: 05/27/2019 10:34:47 ******/
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SP] ([MaSP])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_SP]
GO
